TZ=Asia/Seoul

BOOKSTACK_PORT=6875
APP_URL=http://localhost:6875
APP_KEY=base64:replace_with_generated_key

DB_ROOT_PASSWORD=replace_with_strong_root_password
DB_DATABASE=bookstackapp
DB_HOST=bookstack_db
DB_PORT=3306
DB_USERNAME=bookstack
DB_PASSWORD=replace_with_strong_db_password

GITHUB_APP_ID=
GITHUB_APP_SECRET=
GITHUB_AUTO_REGISTER=false

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_AUTO_REGISTER=true
